.dashboard-page-content {
    .filters-dropdown {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: flex-end;

        .select-dropdown {
            width: 200px;
        }

        label {
            font-weight: 500;
        }
    }
}