//  ============> COLOR'S <============

$themeColor: #0c3c60;
$themeStaticBlack: #000;
$themeLightColor: #3c6d9a;
$themeLoginBtnColor: #145585;
$themeIconColor: #0072bc;
$themeHoverColor: #10456d;
$themePrimaryColor: #444444;
$themePrimaryBlack: #333333;
$themeSecondryDefault: #999999;
$themeSecondryBlack: #555;
$themeWhiteColor: #ffffff;
$themeDefaultColor: #ccc;
$themeSeconderyLightColor: #337ab7;
$themeNavbarHover: #6dc1ef;
$themeLightBlueColor: #4bc3ff;
$themeTextDanger: #ff0000;

//  ============> FONT-SIZE'S <============
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;

//  ============> BOX-SHADOW <============

$themeBoxShadow: 0 1px 1px rgba(0, 0, 0, 0.05);
$themeModalBoxShadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2);
